[submodule "dependencies/xmrig"]
	path = dependencies/xmrig
	url = https://github.com/MoneroOcean/xmrig.git
	branch = master
[submodule "dependencies/bash-toolbox"]
	path = dependencies/bash-toolbox
	url = https://github.com/MorganKryze/bash-toolbox.git
	branch = main
